body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:439px;
}
#u1032 {
  position:absolute;
  left:277px;
  top:101px;
  width:921px;
  height:439px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:212px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:492px;
}
#u1034 {
  position:absolute;
  left:277px;
  top:101px;
  width:1px;
  height:491px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:238px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:2px;
}
#u1036 {
  position:absolute;
  left:277px;
  top:591px;
  width:921px;
  height:1px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:917px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:492px;
}
#u1038 {
  position:absolute;
  left:1197px;
  top:101px;
  width:1px;
  height:491px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:238px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1040 {
  position:absolute;
  left:308px;
  top:126px;
  width:75px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1041 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:375px;
  top:124px;
  width:89px;
  height:35px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044 {
  position:absolute;
  left:692px;
  top:470px;
  width:100px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:289px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:288px;
  top:171px;
  width:890px;
  height:289px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:136px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:186px;
}
#u1048 {
  position:absolute;
  left:298px;
  top:186px;
  width:888px;
  height:186px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:85px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:78px;
}
#u1050 {
  position:absolute;
  left:312px;
  top:362px;
  width:872px;
  height:78px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:31px;
  width:868px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:635px;
  top:407px;
  width:113px;
  height:23px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  position:absolute;
  left:1005px;
  top:405px;
  width:50px;
  height:26px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u1056 {
  position:absolute;
  left:1136px;
  top:130px;
  width:44px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u1057 {
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  word-wrap:break-word;
}
