body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1052px;
  height:934px;
}
#u1058 {
  position:absolute;
  left:145px;
  top:4px;
  width:1052px;
  height:934px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:459px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:833px;
}
#u1061 {
  position:absolute;
  left:204px;
  top:938px;
  width:1030px;
  height:833px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:408px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:1055px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:109px;
  top:0px;
  width:95px;
  height:1055px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:520px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:1989px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1065 {
  position:absolute;
  left:1196px;
  top:7px;
  width:95px;
  height:1989px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:986px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  position:absolute;
  left:521px;
  top:1416px;
  width:300px;
  height:57px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:484px;
  top:319px;
  width:300px;
  height:33px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:24px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1071 {
  position:absolute;
  left:249px;
  top:136px;
  width:300px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:1px;
  width:296px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:354px;
  top:828px;
  width:716px;
  height:100px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:42px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  position:absolute;
  left:369px;
  top:363px;
  width:716px;
  height:42px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:13px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:739px;
  height:446px;
}
#u1077 {
  position:absolute;
  left:346px;
  top:376px;
  width:739px;
  height:446px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:215px;
  width:735px;
  visibility:hidden;
  word-wrap:break-word;
}
